body {
    font-family: 'Poppins', sans-serif;

}

.image-aria {
    background-image: url(donation1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    color: white;

}

h1 {
    font-size: 50px;
}

.font-family {
    text-align: center;

}

.new-aria {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 50px;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}



.flexible-aria {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 50px;
}

#food-family {
    text-align: left;
    background-color: #e5f9ff;
    background-image: url(food.png);
    background-repeat: no-repeat;
    background-position: inherit;
    margin-right: 20px;
    padding: 40px;
}

#for-a-family {
    text-align: left;
    background-color: #ffe6e6;
    background-image: url(shelter.png);
    background-repeat: no-repeat;
    background-position: inherit;
    margin-right: 20px;
    padding: 40px;
}


#for-a-child {
    text-align: left;
    background-color: #ffffe5;
    background-image: url(Frame-1.png);
    background-repeat: no-repeat;
    background-position: inherit;
    margin-right: 20px;
    padding: 40px;
}

.flexible-containar {
    display: flex;

}

.half-width {
    width: 50%;
    margin-right: 20px;
    padding: 40px;


}

.half-width img {
    width: 80%;
}

.sayem {
    width: 50%;
    margin-right: 20px;
    padding: 40px;
}

.sayem img {
    width: 80%;
}

.submit-aria {
    text-align: center;
    background-image: linear-gradient(orange, red);

}